<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button style="--color:#FFFFFF" (click)="sair()">
        <ion-icon name="log-out-outline" style="margin-right: 2px;"></ion-icon>
        Sair
      </ion-button>
    </ion-buttons>
    <ion-title style="--color:#FFFFFF">COVID-19 STATS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-card style="background-image: url(assets/dev.png);" class="Cards bgCards">
    <ion-card-header>
      <ion-card-subtitle style="color: #0d47a1;;">Desenvolvido por:</ion-card-subtitle>
      <ion-card-title style="margin-top: 1vh;margin-left: 1vh; " ><strong>Cristian Felipe Agra de Souza</strong></ion-card-title>
    </ion-card-header>
       
  </ion-card>

  <ion-card style="background-image: url(assets/api.png);" class="Cards bgCards">
    <ion-card-header>
      <ion-card-subtitle style="color: #0d47a1;;">API utilizada:</ion-card-subtitle>
      <ion-card-title style="margin-top: 1vh;margin-left: 1vh;" ><strong>COVID-19 Brazil API</strong></ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: #009688;">
     <strong>https://covid19-brazil-api.now.sh/</strong> 
    </ion-card-content>
       
  </ion-card>
  
 

</ion-content>
