ion-toolbar{
    --background: #0097A7;
}

ion-content{
    --background:#B2EBF2;
}

ion-button{
    --background: #FF5252;
}

#container {
    background-color: #ffffff;
    margin:auto;
    width: 90%;
    padding: 20px 30px;
    margin-top: 7vh;
    border-radius: 10px;
    text-align: center;
  }