  #login-container {
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px 30px;
    margin-top: 15vh;
    border-radius: 10px;
    text-align: center;
  }
    
  ion-content {
    --background: none;
    background-image: url('/assets/fundo.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }